
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Header Styles */
.head {
    background-color: #270e3e;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.head .logo {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
    text-align: center;
}

.head nav ul {
    display: flex;
    color: aliceblue;
}

.head nav ul .li {
    margin-left: 20px;
}

.head nav ul .li span {
    color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    background-color: #ffffff;
}

.head nav ul .li a:hover {
    background-color: #8beaff;
}


/* Responsive Styles */
@media (max-width: 768px) {
    /* .head {
        flex-direction: column;
        align-items: flex-start;
    } */

    .head{
        overflow: hidden;
    }
    .head .logo {
        margin-bottom: 20px;
    }
    .head nav ul{
        width: 80%;
        margin-left: 40px;
    }
    .head nav ul .li span{
         font-size: 15px;
         
        
    }

    /* .head nav ul {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    } */

    .head nav ul .li span {
        color: #ffffff;
        background-color:#270e3e;
      
        padding: 3px;
       
    }
    .head nav ul .li span:hover{
       border-color: #8beaff;
       border-bottom: 2px solid gray;
    }
    
    /* .head nav ul .li {
        margin-left: 0;
        margin-bottom: 10px;
    } */
}
